<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>



<h1>hello {{name}} !!!!</h1>
   <form action="operation" method="post">
    {% csrf_token %}
                Enter the operation: <input type="text" name="operation"  placeholder="enter the operation">
                Enter a 1st number: <input type="text" name="num1"  placeholder="enter the number">
                Enter a 2nd number: <input type="text" name="num2" placeholder="enter the number">
                <input type="submit">

            </form>



</body>
</html>