{% extends "base.html" %}
{% block title %}HOME{% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% block body %}

<div class="container" my-3>



<!-- <img src="/static/images/background.jpg" alt=""> -->
<div class="jumbotron">
  <h1 class=text-center> Welcome to Icoder..!!!!</h1>
  <p class="lead"><strong>This is where you dreams come True!</strong></p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
  </p>
</div>
</div>
<div class="container">
  <h3>Please checkout our popular blogpost...</h3>

  <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Popular Posts</h5>
    <p class="card-text">Some of the popular blogpost can be found here .</p>
    <a href="#" class="btn btn-primary">Continue Reading</a>
  </div>
</div>

</div>

{% endblock body %}
