{% extends "base.html" %}
{% block title %}BLOGPOST{% endblock title %}
{% block blogactive %}active{% endblock blogactive %}
{% block body %}
{% load humanize %}
{% load extras %}

<<div class="container">
  <h2 class="blog-post-title">{{ post.title }}</h2>
  <p class="blog-post-meta">{{ post.timestamp }} <a href="/about">{{ post.author }}</a></p>

  <p>{{ post.content }}</p>

</div>
<div class="container">
  <h3>comments({{comments.count}})</h3>
  {% if request.user.is_authenticated %}
  <form class="" action="/blog/postComment" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label">Post Comment</label>
      <input type="text" class="form-control" name="comment" aria-describedby="emailHelp">
    </div>
    <input type="hidden" name="postSno" value="{{post.sno}}"">
    <input type="hidden" name="parentSno" value="">
    <p></p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  {% else %}
  Please login to comment
  {% endif %}


  {% for comment in comments %}
  <div class="row my-3">
    <div class="col-md-1">
      <img class="rounded mx-auto d-block w-100 p-2 border border-dark" src="/static/images/user.png" alt="user">
    </div>
    <div class="col-md-11">
      <b> {{comment.user.username}} </b> <span class="badge bg-secondary"> {{comment.timestamp| naturaltime}} </span>
      <p></p>
      {{ comment.comment }}

      <div class="reply mx-0">
        {% if request.user.is_authenticated %}
        <button class="btn btn-sm btn-primary" data-bs-toggle="collapse" href="#replyBox{{comment.sno}}" role="button" aria-expanded="false" aria-controls="replyBox{{comment.sno}}">
          Reply
        </button>

        <div class="collapse" id="replyBox{{comment.sno}}">
          <div class="card card-body">
            <form class="" action="/blog/postComment" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="comment" class="form-label">Post a Reply</label>
                <input type="text" class="form-control" name="comment" aria-describedby="emailHelp">
                <input type="hidden" name="parentSno" value="{{comment.sno}}"">
              </div>
              <input type="hidden" name="postSno" value="{{post.sno}}"">
              <p></p>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
        {% else %}
        <div class="container">
          <button class="btn btn-sm btn-primary"   role="button" aria-expanded="false" >
          Please login to Reply
        </button>
          </div>
        {% endif %}

        <div class="replies my-2">
          {% for reply in replyDict|get_val:comment.sno %}
          <div class="row my-2">
            <div class="col-md-1">
              <img class="rounded mx-auto d-block w-75 my-2 border border-dark p-2" src="/static/images/user.png" alt="user">
            </div>
            <div class="col-md-11">
              <b> {{reply.user.username}} </b> <span class="badge bg-secondary"> {{reply.timestamp| naturaltime}} </span>
              <div>{{ reply.comment }}</div>
              </div>
          <br>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>

  {% endfor %}

</div>
{% endblock body %}
